.done {
    background-color: green;
}

.pending {
    background-color: red;
}

.form-error {
    color: red;
}

.form-success {
    color: green;
}

/*this is an example, there are others*/
.email.ng-invalid.ng-invalid-email {
    background-color: red;
    color: white;
}