<!DOCTYPE html>
<html ng-app="basicApp">
    <head>
        <meta charset="utf-8">
        <title>Basic Form of AngularJS</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/basic.css">

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="js/basic.js"></script>
    </head>
    <body ng-controller="BasicFormCtrl as ctrl">
        <div class="container">
            <form ng-submit="ctrl.submit()" name="validationForm">
                <div class="form-group">
                    <input type="email"
                        name="email"
                        class="form-control email"
                        ng-model="ctrl.user.email"
                        placeholder="Email" />
                    <span ng-show="validationForm.email.$error.email">Invalid email</span>
                </div>

                <div class="form-group">
                    <input type="text"
                        name="username"
                        class="form-control username"
                        required
                        ng-model="ctrl.user.username"
                        ng-minlength="4"
                        placeholder="User" />
                    <span ng-show="validationForm.username.$error.required">This is a required field</span>
                    <span ng-show="validationForm.username.$error.minlength">Minimum length required is 4</span>
                </div>

                <div class="form-group">
                    <input type="password"
                        name="password"
                        class="form-control"
                        required
                        ng-model="ctrl.user.password"
                        placeholder="Password" />
                    <span ng-show="validationForm.password.$error.required">This is a required field</span>
                </div>

                <div class="form-group">
                    <input type="text"
                        name="maxLength"
                        class="form-control"
                        ng-model="ctrl.user.maxLength"
                        ng-maxLength="6"
                        placeholder="Max length 6" />
                    <span ng-show="validationForm.maxLength.$error.maxlength">Maximum length required is 6</span>
                </div>

                <div class="form-group">
                    <input type="submit"
                        value="Submit"
                        class="btn btn-info"
                        ng-disabled="validationForm.$invalid" />
                </div>

                <br /><span ng-class="ctrl.formHasError(validationForm.$pristine)">Changed</span>
                <br /><span ng-class="ctrl.formHasError(validationForm.$invalid)">Valid</span>
            </form>
        </div>
    </body>
</html>