<!DOCTYPE html>
<html ng-app="basicApp">
    <head>
        <meta charset="utf-8">
        <title>Basic Form of AngularJS</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/basic.css">

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="js/basic.js"></script>
    </head>
    <body ng-controller="BasicFormCtrl as ctrl">
        <form ng-submit="ctrl.submit()" name="validationForm">
            <input type="email"
                ng-model="ctrl.user.email"
                placeholder="Email" />
            <input type="text"
                ng-model="ctrl.user.username"
                required
                ng-minlength="4"
                placeholder="User" />
            <input type="password"
                ng-model="ctrl.user.password"
                required
                placeholder="Password" />
            <input type="submit"
                value="Submit"
                ng-disabled="validationForm.$invalid" />

            <input type="text"
                ng-model="ctrl.user.maxLength"
                ng-maxLength="6"
                placeholder="max length" />
            <br /><text ng-class="ctrl.formHasError(validationForm.$pristine)">Changed</text>
            <br /><text ng-class="ctrl.formHasError(validationForm.$invalid)">Valid</text>
        </form>
    </body>
</html>